* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray: rgba(19, 21, 23, 0.36);
}

body {
  font-family: "inter", sans-serif;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
}

/*Mark: General */
.container {
  width: 1100px;
  margin: 0 auto;
}
.luma-icon {
  height: 20px;
  /* color: var(--luma-green); */
  /* color:rgba(19, 21, 23, 0.36); */

  color: rgba(19, 21, 23, 0.36);
}

.luma-logo-lg {
  height: 50px;
  color: rgba(19, 21, 23, 0.36);
}

.luma-logo-sm {
  height: 20px;
  color: rgba(19, 21, 23, 0.36);
}

.text-gredient{
    background: radial-gradient(circle at top left,#099ef1 0%,#6863f8 18.82%,#d84ffa 32.6%,#f058c5 52.83%,#ff4f90 68.03%,#ff6558 87.66%,#ff891f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
/* Blue line Colour change */
a {
  text-decoration: none;
  color: inherit;
}

/* MARK: Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
/* MARK: Luma icon */

header nav {
  display: flex;
  gap: 10px;
}

main {
  display: flex;
}

.left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  justify-content: center;
}

.left h1{
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
}
.right {
  width: 60%;
}

.right video {
  width: 100%;
}

footer .primary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

footer .secondary {
  margin-bottom: 20px;
}
